#container {
	width:960px;
	margin:0 auto;
}

#box {
	margin-top:20px;
	width: 100%;
}

#box .innerBox {
	width:80%;
	border: 1px solid black;
	padding:10px;
	margin:10px auto;
	background-color: #f5f5f5 ;
	border-radius: 3em 42px;
}

/* turning spans into div */
#box .phone {
	display:block;
	background-color: yellow;
	margin: 10px;
}

/*turning div into span*/
#box .car {
	display:inline;
	padding: 20px 10px;
	width: 100px;
	height:100px;
	background-color: #f5f5f5;
	border: 1px solid black;
}

.positioned1{
	position:relative;
	min-width: 95%;
	top: 10px;
	left:60px;
	width:120px;
	height:100px;
	background-color: rgb(93, 143, 162);
}

.positioned2{
	position:absolute;
	top: 10px;
	left: 10px;
	width:120px;
	height:100px;
	background-color: red;
}

.positioned3{
	position:fixed;
	top: 10px;
	right: 10px;
	width:120px;
	height:100px;
	background-color: red;
}

header {
	width:100%;
	height:90px;
	background-color: rgb(93, 143, 162); 
	background-image: url("https://picsum.photos/960/90");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#logo {
	font-size: 18px;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
	color:white;
}

#logoAlert{
	color:white;
}

#box, #learnContent{
	margin-left:10px;
}

#content {
	width: 75%;
	float:left;
}

#sidenav{
	width:20%;
	float:left;
	background-color: rgb(220,220,220);
	border: 1px solid black;
	min-height: 800px;
	margin-top: 10px;
}

th, td {
	padding:20px;
	min-width: 100px;
}



.clear {
	clear:both;
}